target/
dist/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.idea/
**/.idea/
*.iws
*.ipr
*.iml
**/*.ipr
**/*.iws
**/*.iml
**/*.jpg

.DS_Store
**/.DS_Store

/out/
.idea_modules/
**/.idea_modules/

atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

**/atlassian-ide-plugin.xml
**/com_crashlytics_export_strings.xml
**/crashlytics.properties
**/crashlytics-build.properties
**/fabric.properties

**/build/
**/*.lock
**/*-lock.json
**/node_modules/
**/node_modules_project/
**/*.log
**/*.csv
