{
    "presets": [
        "env",
        "stage-0"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@midleware": "./src/midleware",
                    "@data": "./src/data",
                    "@router": "./src/router"
                }
            }
        ]
    ]
}